---
// src/layouts/layout.astro
import GA4 from '../components/analytics/ga4.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <GA4 />
    <slot name="head" />
  </head>
  <body class="font-sans">
    <slot />
  </body>
</html>